.header {
	display: flex;
	justify-content: center;
    align-items: center;
	margin-bottom: 40px;
	padding: 8px;
	gap: 10px;
}

.header h1 {
	color: #fff;
	font-size: 30px;
}

.logo {
	height: 60px;
	width: 60px;
}

.title {
    font-size: 27px;
    font-weight: 600;
}